/* ------------  All  ------------ */

ul {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    list-style: none;
    cursor: pointer;
}

/* ------------  header  ------------ */
header {
    width: 1400px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.header_logo {
    margin: 20px 150px 20px 50px;
}

.header_menu {
    display: flex;
}

.header_menu_list {
    margin: 20px 50px 20px 0;
}

.header_menu_list_item1 {
    margin-bottom: 8px;
    font-size: 16px;
    font-family: "YuGothic";
    color: rgb(51, 51, 51);
    font-weight: bold;
    line-height: 1.25;
}

.header_menu_list_item2 {
    font-size: 11px;
    font-family: "Agenda";
    color: rgb(215, 11, 42);
    line-height: 1.818;
    text-align: center;
}

.header_right_item {
    display: flex;
    text-align: center;
    height: 90px;
}

.header_right_item p {
    color: white;
}

.header_recuit, .header_search {
    padding: 15px 38px 14px;
}

.header_recuit img, .header_search img {
    height: 30px;
    margin-bottom: 7px;
}

.header_recuit {
    background-color: rgb(215, 11, 42);
    font-size: 16px;
    font-family: "YuGothic";
    color: rgb(255, 255, 255);
    font-weight: bold;
    line-height: 1.25;
}

.header_search {
    background-color: rgb(51, 51, 51);
    font-size: 16px;
    font-family: "YuGothic";
    color: rgb(255, 255, 255);
    font-weight: bold;
    line-height: 1.25;
}

/* ------------  footer  ------------ */
footer {
    background-color: rgb(243, 239, 230);
}

.footer_up_arrow {
    position: absolute;
    right: 10%;
    bottom: 440px;
}

.footer_section {
    display: flex;
    width: 1160px;
    margin: auto;
    padding-top: 50px;
}

.footer_logo {
    margin-right: 180px;
}

.footer_sns {
    margin: 30px 0;
}

.footer_sns p {
    font-size: 12px;
    font-family: "YuGothic";
    color: rgb(51, 51, 51);
    font-weight: bold;
}

.footer_sns_item {
    margin-top: 12px;
}

.footer_sns_item img {
    margin-right: 12px;
}

.footer_menu1 {
    margin-right: 75px;
}

.footer_menu1 a {
    font-size: 12px;
    font-family: "YuGothic";
    color: rgb(51, 51, 51);
    font-weight: bold;
    line-height: 2;
}

.footer_menu1 li {
    margin-bottom: 34px;
}

.footer_menu23 {
    display: flex;
}

.footer_menu2 {
    margin-right: 68px;
}

.footer_menu2 hr, .footer_menu3 hr {
    margin: 18px 0 16px;
    background-color: rgb(51, 51, 51);
    opacity: 0.302;
    width: 150px;
    height: 1px;
}

.footer_menu2 li, .footer_menu3 li {
    margin-bottom: 14px;
    line-height: 1;
}

.footer_menu_title {
    font-size: 12px;
    font-family: "YuGothic";
    color: rgb(51, 51, 51);
    font-weight: bold;
    line-height: 2;
}

.footer_menu_item {
    font-size: 12px;
    font-family: "YuGothic";
    color: rgb(51, 51, 51);
    font-weight: bold;
}

.footer_sitemap {
    width: 1400px;
    margin: auto;
    display: flex;
}

.footer_sitemap a {
    margin-top: 40px;
    margin-right: 38px;
    font-size: 10px;
    font-family: "YuGothic";
    color: rgb(51, 51, 51);
    font-weight: bold;
    line-height: 2.4;
}

.footer_sitemap p:first-child {
    margin-left: auto;
}

.footer_copy {
    text-align: center;
    font-size: 14px;
    font-family: "YuGothic";
    color: rgb(255, 255, 255);
    line-height: 5.143;
    background-color: rgb(215, 11, 42);
    margin-top: 30px;
}