/* ------------  All  ------------ */

ul {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    list-style: none;
    cursor: pointer;
}

/* ------------  header  ------------ */

header {
    display: flex;
    width: 100%;
    margin: auto;
}

@media (min-width: 1400px) {
    header {
        width: 1400px;
    }
}

.header_logo {
    margin: 20px 50px 20px 25px;
}

@media (min-width: 1400px) {
    .header_logo {
        margin: 20px 150px 20px 50px;
    }
}

.header_menu {
    position: fixed;
    z-index: 1000;
    background-color: rgba(241, 241, 241, 0.9);
    top: 0;
    right: 0;
    bottom: 0;
    padding: 80px 20px 0 20px;
    display: none;
}

@media (min-width: 1220px) {
    .header_menu {
        position: inherit;
        display: flex;
        background-color: inherit;
        padding: 0;
    }
}

.header_menu_list {
    margin: 20px 50px 20px 0;
}

.header_menu_list_item1 {
    margin-bottom: 8px;
    font-size: 16px;
    font-family: "YuGothic";
    color: rgb(51, 51, 51);
    font-weight: bold;
    line-height: 1.25;
}

.header_menu_list_item2 {
    font-size: 11px;
    font-family: "Agenda";
    color: rgb(215, 11, 42);
    line-height: 1.818;
}

@media (min-width: 1220px) {
    .header_menu_list_item2 {
        text-align: center;
    }
}

.header_right_item {
    position: fixed;
    z-index: 1000;
    width: 60%;
    background-color: rgba(241, 241, 241, 0.9);
    top: 0;
    right: 0;
    bottom: 0;
    padding: 100px 20px 0 20px;
    display: none;
}

@media (min-width: 1220px) {
    .header_right_item {
        background-color: inherit;
        position: inherit;
        width: auto;
        margin-left: auto;
        display: flex;
        text-align: center;
        height: 90px;
        padding: 0;
    }
}

.header_right_item p {
    color: white;
}

.header_recuit, .header_search {
    padding: 15px 38px 14px;
}

.header_recuit img, .header_search img {
    height: 30px;
    margin-bottom: 7px;
}

.header_recuit {
    background-color: rgb(215, 11, 42);
    font-size: 16px;
    font-family: "YuGothic";
    color: rgb(255, 255, 255);
    font-weight: bold;
    line-height: 1.25;
}

.header_search {
    background-color: rgb(51, 51, 51);
    font-size: 16px;
    font-family: "YuGothic";
    color: rgb(255, 255, 255);
    font-weight: bold;
    line-height: 1.25;
}

/* このクラスを、jQueryで付与・削除する */
.header_sp {
    display: none;
}


@media (max-width: 1220px) {
    .header_menu.active, .header_sp {
        display: block;
    }
}

/* ハンバーガーメニュー */
.hamburger {
    display: block;
    position: fixed;
    z-index: 1010;
    top: 30px;
    right: 30px;
    width: 48px;
    height: 42px;
    cursor: pointer;
    text-align: center;
    align-items: center;
}

@media (min-width:1220px) {
    .hamburger {
        display: none;
    }
}

.hamburger span {
    display: block;
    position: absolute;
    width: 48px;
    height: 4px;
    background-color: rgb(215, 11, 42);
    -webkit-transition: 0.2s ease-in-out;
    -moz-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
}

.hamburger span:nth-child(1) {
    top: 0;
}

.hamburger span:nth-child(2) {
    top: 15px;
}

.hamburger span:nth-child(3) {
    top: 30px;
}

/* ナビ開いてる時のボタン */

.hamburger.active {
    transition: all 0.15s ease-in-out;
    transition-delay: 0.15s;
    transform: rotate(45deg);
}

.hamburger.active span:nth-child(2) {
    width: 0px;
}

.hamburger.active span:nth-child(1), .hamburger.active span:nth-child(3) {
    background: rgb(215, 11, 42);
    -webkit-transition-delay: 0.1s;
    -o-transition-delay: 0.1s;
    transition-delay: 0.1s;
}

.hamburger.active span:nth-child(1) {
    top: 11px;
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}

.hamburger.active span:nth-child(3) {
    top: 11px;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}

/* ------------  footer  ------------ */
footer {
    background-color: rgb(243, 239, 230);
    position: relative;
}

.footer_up_arrow {
    position: absolute;
    right: 10%;
    bottom: 80px;
    width: 50px;
    z-index: 100;
}

@media (min-width: 1220px) {
    .footer_up_arrow {
        position: absolute;
        right: 10%;
        bottom: 400px;
        width: auto;
    }
}

.footer_section {
    max-width: 660px;
    margin: auto;
    padding-top: 80px;
    text-align: center;
}

@media (min-width: 1220px) {
    .footer_section {
        display: flex;
        max-width: 1160px;
        padding-top: 50px;
        text-align: start;
    }
}

@media (min-width: 1220px) {
    .footer_logo {
        margin-right: 180px;
    }
}

.footer_sns {
    margin: 50px 0;
}

@media (min-width: 1220px) {
    .footer_sns {
        margin: 30px 0;
    }
}

.footer_sns p {
    font-size: 12px;
    font-family: "YuGothic";
    color: rgb(51, 51, 51);
    font-weight: bold;
}

.footer_sns_item {
    margin-top: 50px;
}

.footer_sns_item img {
    margin-right: 40px;
}

.footer_sns_item .footer_sns_item_last {
    margin-right: 0px;
}

.footer_pc {
    display: none;
}

@media (min-width: 1220px) {
    .footer_sp {
        display: none;
    }

    .footer_pc {
        display: inline;
    }
}

@media (min-width: 1220px) {
    .footer_sns_item {
        margin-top: 12px;
    }

    .footer_sns_item img {
        margin-right: 12px;
    }
}

.footer_menu1 {
    margin: 50px 0 80px;
}

.footer_menu1 ul {
    display: flex;
    justify-content: space-evenly;
    margin: auto;
}

.footer_menu1 a {
    font-size: 12px;
    font-family: "YuGothic";
    color: rgb(51, 51, 51);
    font-weight: bold;
    line-height: 2;
}

@media (min-width: 1220px) {
    .footer_menu1 {
        margin: 0 75px 0 0;
    }

    .footer_menu1 ul {
        display: block;
    }

    .footer_menu1 a {
        font-size: 12px;
        font-family: "YuGothic";
        color: rgb(51, 51, 51);
        font-weight: bold;
        line-height: 2;
    }
}

@media (min-width: 1220px) {
    .footer_menu1 li {
        margin: 0 0 34px;
    }
}

.footer_menu23 {
    display: flex;
    justify-content: space-between;
    text-align: start;
    max-width: 350px;
    margin: auto;
}


@media (min-width: 1220px) {
    .footer_menu23 {
        margin: 0;
    }

    .footer_menu2 {
        margin-right: 68px;
    }
}

.footer_menu2 hr, .footer_menu3 hr {
    margin: 18px 0 16px;
    background-color: rgb(51, 51, 51);
    opacity: 0.302;
    width: 150px;
    height: 1px;
}

.footer_menu2 li, .footer_menu3 li {
    margin-bottom: 14px;
    line-height: 1;
}

.footer_menu_title {
    font-size: 12px;
    font-family: "YuGothic";
    color: rgb(51, 51, 51);
    font-weight: bold;
    line-height: 2;
}

.footer_menu_item {
    font-size: 12px;
    font-family: "YuGothic";
    color: rgb(51, 51, 51);
    font-weight: bold;
}

.footer_sitemap {
    margin: 20px auto 0;
    display: flex;
    justify-content: center;
}

@media (min-width: 1400px) {
    .footer_sitemap {
        width: 1400px;
    }
}

.footer_sitemap a {
    margin-top: 40px;
    margin-right: 38px;
    font-size: 10px;
    font-family: "YuGothic";
    color: rgb(51, 51, 51);
    font-weight: bold;
    line-height: 2.4;
}

@media (min-width: 1220px) {
    .footer_sitemap p:first-child {
        margin-left: auto;
    }
}

.footer_copy {
    text-align: center;
    font-size: 14px;
    font-family: "YuGothic";
    color: rgb(255, 255, 255);
    line-height: 5.143;
    background-color: rgb(215, 11, 42);
    margin-top: 30px;
}