/* ------------  fv  ------------ */
.faq_fv {
  background-color: rgb(243, 239, 230);
  padding: 110px 0 15px;
  position: relative;
  max-width: 1400px;
  margin: auto;
}

.faq_fv_title {
  font-size: 55px;
  font-family: "Agenda";
  font-weight: inherit;
  color: rgb(215, 11, 42);
  text-align: center;
  letter-spacing: 10px;
}

.faq_fv_sub {
  font-size: 16px;
  font-family: "YuGothic";
  color: rgba(51, 51, 51, 0.8);
  font-weight: bold;
  text-align: center;
}

.faq_fv_bgtitle {
  font-size: 170px;
  font-family: "Agenda";
  color: rgba(255, 255, 255, 0.502);
  text-align: center;
  position: absolute;
  font-weight: inherit;
  letter-spacing: 10px;
  left: 0;
  bottom: -90px;
}

.faq_fv_pan {
  margin-top: 80px;
  text-align: right;
  padding-right: 50px;
  font-size: 12px;
  font-family: "FontAwesome";
  color: rgb(51, 51, 51);
}

.faq_fv_fas {
  margin: 0 14px;
}


/* ------------  question  ------------ */
.faq_question {
  margin: 80px auto 0;
  max-width: 1020px;
}

.faq_question_tab {
  margin: 0 10px;
  display: -webkit-box;
  display: flex;
  justify-content: left;
}

.faq_question_tab_btn {
  border-left: 1px solid rgb(51, 51, 51, 0.3);
}

.faq_question_tab_btn:last-child {
  border-right: 1px solid rgb(51, 51, 51, 0.3);
}

.faq_question_tab_btn_span {
  margin: 0 48px;
  padding-bottom: 10px;
  color: #333;
  text-align: center;
  font-size: 16px;
  font-family: "YuGothic";
  font-weight: bold;
  cursor: pointer;
  transition: all 0.2s ease 0s;
}


.faq_question_tab_btn+.faq_question_tab_btn {
  /* margin-left: 8px; */
}

.faq_question_tab_btn:hover {
  opacity: 0.8;
}

.faq_question_tab_btn_span.active {
  color: rgb(215, 11, 42);
  border-bottom: 3px solid rgb(215, 11, 42);
  display: inline-block;
}

.faq_question_panel_area {
  display: none;
  margin-top: 75px;
}

.faq_question_panel_area.active {
  display: block;
}

.faq_question_title {
  margin-bottom: 35px;
  font-size: 30px;
  font-family: "YuGothic";
  color: rgb(51, 51, 51);
  font-weight: bold;
  text-align: center;
}

.faq_question hr {
  background-color: rgb(215, 11, 42);
  width: 50px;
  height: 4px;
  margin: 0 auto 65px;
  border: none;
}










/* ------------  question  ------------ */