/* ------------  fv  ------------ */



/* ------------  news  ------------ */



/* ------------  about  ------------ */





/* ------------  intervew  ------------ */




/* ------------  entry  ------------ */
.top_entry {
    background-image: url(../image/top/entry_bg_sp.png);
    background-repeat: no-repeat;
    background-size: contain;
}

@media (min-width: 1100px) {
    .top_entry {
        background-image: url(../image/top/entry_bg.png);
        background-repeat: no-repeat;
        background-size: contain;
    }
}

.top_entry_items_top {
    text-align: center;
    padding: 110px 0 35px;
    position: relative
}


.top_entry_items_top img {
    margin: auto;
}

.entry_challenge_img {
    width: 90%;
}

.entry_pc {
    display: none;
}

@media (min-width: 1100px) {
    .entry_pc {
        display: block;
    }

    .entry_sp {
        display: none;
    }
}

@media (min-width: 1100px) {
    .entry_challenge_img {
        width: auto;
    }
}

.top_entry_message {
    position: absolute;
    right: 0;
    left: 0;
    top: 50%;
    font-size: 26px;
    font-family: "Shippori Mincho";
    color: rgb(255, 255, 255);
    text-align: center
}

@media (min-width: 600px) {
    .top_entry_message {
        font-size: 30px;
    }
}

@media (min-width: 1100px) {
    .top_entry_message {
        top: 40%;
        font-size: 36px;
    }

    .top_entry_message_br {
        display: none;
    }
}

.top_entry_message img {
    vertical-align: top;
    /* width: 20%; */
}

@media (min-width: 1100px) {
    .top_entry_message img {
        width: auto;
    }
}

.top_entry_recruit_btn {
    position: absolute;
    right: 0;
    left: 0;
    top: 65%;
}

.top_entry_items {
    text-align: center;
    max-width: 90%;
    margin: auto;
}

@media (min-width: 1100px) {
    .top_entry_items {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: flex-end;
        max-width: 1020px;
        margin: 0 auto 100px;
    }
}

.top_entry_items a {
    margin: 0 auto;
}

@media (min-width: 1100px) {
    .top_entry_items a {
        margin: 0;
    }
}

.top_entry_items img {
    width: 100%;
    max-width: 494px;
    margin-bottom: 45px;
}

@media (min-width: 1100px) {
    .top_entry_items img {
        margin-bottom: 20px;
    }
}