/* ------------  fv  ------------ */

.top_fv_topimage {
    background-image: url(../image/top/top_main01.png);
    background-size: cover;
    width: 100%;
    display: none;
    margin-bottom: 45px;
    position: relative;
}

@media (min-width: 750px) {
    .top_fv_topimage {
        background-image: url(../image/top/top_main01.png);
        background-size: cover;
        width: 100%;
        display: flex;
        margin-bottom: 45px;
    }
}

.top_fv_topimage h1 {
    font-family: "Kinuta MaruMaruGothic CLr StdN";
    color: rgb(59, 47, 40);
    line-height: 1.138;
    text-align: left;
    margin: 2.3% 11.5% 0 2.7%;
    font-size: clamp(37px, 5vw, 70px);
}

.top_fv_topimage span, .top_fv_topimage_sp span {
    color: #d70b2a;
}

.top_fv_slide01 {
    max-width: 298px;
    width: 21.285%;
    margin-right: 1.7%;
}

.top_fv_slide01 img, .top_fv_sp_slide01 img {
    width: 100%;
    background-color: rgb(200, 200, 200);
    border-radius: 5px;
    margin-bottom: 10px;
}

.top_fv_slide02 {
    max-width: 298px;
    width: 21.285%;
}

.top_fv_slide02 img {
    width: 100%;
    background-color: rgb(200, 200, 200);
    border-radius: 5px;
    margin-bottom: 10px;
}

.top_fv_topimage_sp {
    background-image: url(../image/top/top_main_sp01.png);
    background-size: cover;
    width: 100%;
    display: flex;
    margin-bottom: 45px;
}

@media (min-width: 750px) {
    .top_fv_topimage_sp {
        display: none;
    }
}

.top_fv_topimage_sp h1 {
    font-size: 8.5vw;
    font-family: "Kinuta MaruMaruGothic CLr StdN";
    color: rgb(59, 47, 40);
    line-height: 1.138;
    text-align: left;
    margin: 4% 0 0 2.7%;
}

.top_fv_sp_slide01 {
    max-width: 220px;
    width: 29.3%;
    margin: 25% 0 0 0;
}

.top_fv_sns {
    max-width: 750px;
    width: 100%;
    display: flex;
    margin: 0 auto 120px;
    justify-content: space-between;
}

@media (min-width: 750px) {
    .top_fv_sns {
        max-width: 1020px;
        width: 72.857%;
    }
}

.top_fv_sns_image {
    max-width: 319px;
    width: 31.274%;
    display: none;
}

@media (min-width: 750px) {
    .top_fv_sns_image {
        display: block;
        max-width: 319px;
        width: 31.274%;
    }
}

.top_fv_sns_image img {
    width: 100%;
}

.top_fv_sns_sp {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

@media (min-width: 750px) {
    .top_fv_sns_sp {
        width: 59.33%;
        display: none;
    }
}

.top_fv_sns_sp img {
    width: 100%;
}

/* search */
.fv_search {
    position: absolute;
    right: 50px;
    /* bottom: 13px; */
    top: 30%;
    background-color: rgb(215, 11, 42);
    box-shadow: 0px 6px 21px 0px rgba(60, 60, 60, 0.46);
    padding: 15px 10px;
}

.fv_search_title {
    display: flex;
    font-size: 18px;
    font-family: "YuGothic";
    color: rgb(255, 255, 255);
    font-weight: bold;
    line-height: 1.49;
    text-align: center;
    margin-bottom: 8px;
}

.fv_search_title p {
    margin: 0 8px;
}

.fv_search_details {
    border-radius: 2px;
    background-color: rgb(255, 255, 255);
    padding: 12px 9px 6px;
}

.fv_search_details select {
    display: block;
    border-width: 1px;
    border-color: rgb(157, 157, 157);
    border-style: solid;
    border-radius: 5px;
    width: 100%;
    padding: 10px;
    margin-bottom: 8px;
    color: rgb(168, 168, 168);
    font-size: 14px;
    font-family: "YuGothic";
    font-weight: bold;
}

.fv_search_details .fv_search_employment {
    margin-bottom: 13px;
}

.fv_search_detail_submit {
    background-color: rgb(51, 51, 51);
    padding: 15px 0;
    width: 100%;
    text-align: center;
    font-size: 16px;
    font-family: "YuGothic";
    color: rgb(255, 255, 255);
    font-weight: bold;
}

.fa-search {
    margin-right: 5px;
}

.fv_search_details_condition {
    text-decoration: underline;
    text-align: center;
    margin-top: 10px;
}

.fv_search_details_condition a {
    color: rgb(51, 51, 51);
    font-weight: bold;
    font-size: 13px;
    font-family: "YuGothic";

}

/* ------------  news  ------------ */

.top_news {
    max-width: 750px;
    width: 100%;
    margin: 20% auto 120px;
}

@media (min-width: 750px) {
    .top_news {
        max-width: 750px;
        margin: 0 auto 120px;
    }
}

@media (min-width: 1050px) {
    .top_news {
        max-width: 1020px;
        margin: 0 auto 120px;
    }
}

.top_news h1 {
    text-align: center;
    font-size: 8.02vw;
    font-family: agenda;
    color: rgb(215, 11, 42);
    line-height: 1.5;
    letter-spacing: 4px;
    font-weight: inherit;
}

@media (min-width: 750px) {
    .top_news h1 {
        font-size: 3.43vw;
    }
}

.top_news h2 {
    font-size: 3.75vw;
    font-family: "Yu Gothic";
    color: rgba(51, 51, 51, 0.8);
    font-weight: bold;
    text-align: center;
    margin-bottom: 40px;
}

@media (min-width: 750px) {
    .top_news h2 {
        font-size: 1vw;
        margin-bottom: 45px;
    }
}

.top_news_topic {
    max-width: 750px;
    width: 100%;
    display: block;
    margin: 0 auto 70px;
}

@media (min-width: 750px) {
    .top_news_topic {
        max-width: 1020px;
        display: flex;
        justify-content: space-between;
        margin: 0 auto 70px;
    }
}

.top_news_topic_box {
    width: 74.4%;
    box-shadow: 0px 5px 7px 0px rgba(80, 80, 80, 0.08);
    position: relative;
    margin: auto;
    padding-bottom: 5%;
}

@media (min-width: 750px) {
    .top_news_topic_box {
        width: 29.705%;
        height: 29.705%;
        box-shadow: 0px 5px 7px 0px rgba(80, 80, 80, 0.08);
        position: relative;
        margin: auto;
    }
}

.top_news_topic_left_arrow {
    width: 8%;
    position: absolute;
    z-index: 99;
    left: 0;
    margin-top: 35%;
}

@media (min-width: 750px) {
    .top_news_topic_left_arrow, .top_news_topic_right_arrow {
        display: none;
    }
}

.top_news_topic_left_arrow img, .top_news_topic_right_arrow img {
    width: 100%;
}

.top_news_topic_right_arrow {
    width: 8%;
    position: absolute;
    right: 0;
    margin-top: 35%;
}

.top_news_topic_box img {
    width: 100%;
}

.top_news_topic_box p {
    width: 94.1%;
    font-size: 3.75vw;
    font-family: "Yu Gothic";
    color: rgb(51, 51, 51);
    font-weight: bold;
    line-height: 1.43;
    text-align: left;
    margin: 15px auto;
}


@media (min-width: 750px) {
    .top_news_topic_box p {
        width: 94.1%;
        font-size: 1.15vw;
        line-height: 1.43;
    }
}

.top_news_topic_box span {
    font-size: 3.21vw;
    font-family: "Barlow";
    color: rgb(215, 11, 42);
    line-height: 1.634;
    padding-left: 4%;
    margin-bottom: 15%;
}

@media (min-width: 750px) {
    .top_news_topic_box span {
        font-size: 1vw;
        line-height: 1.634;
        padding-left: 9px;
    }
}

.top_news_topic_box h3 {
    background-color: rgb(51, 51, 51);
    font-size: 3.21vw;
    font-family: "Yu Gothic";
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-align: center;
    width: 38.613%;
    padding: 1% 0 1% 0;
    z-index: 99;
    top: 0;
    right: 0;
    position: absolute;
}

@media (min-width: 750px) {
    .top_news_topic_box h3 {
        font-size: 1vw;
        width: 38.613%;
        padding: 1% 0 1% 0;
    }
}

.top_news_topic_link {
    margin: 0 auto 80px;
    width: 63.5%;
}

@media (min-width: 750px) {
    .top_news_topic_link {
        margin: 0 auto 80px;
        width: 298px;
    }
}

.top_news_topic_link img {
    width: 100%;
}


/* ------------  about  ------------ */

.top_about {
    background: linear-gradient(to top, #f3efe6 0%, #f3efe6 41%, #fff 41%, #fff 100%);
    padding-bottom: 10%;
}

@media (min-width: 750px) {
    .top_about {
        background: linear-gradient(to top, #f3efe6 0%, #f3efe6 71%, #fff 71%, #fff 100%);
        padding-bottom: 10%;
    }
}

.top_about h1 {
    text-align: center;
    font-size: 8.02vw;
    font-family: agenda;
    color: rgb(215, 11, 42);
    line-height: 1.5;
    letter-spacing: 4px;
}

@media (min-width: 750px) {
    .top_about h1 {
        font-size: 3.43vw;
    }
}

.top_about h2 {
    font-size: 3.75vw;
    font-family: "Yu Gothic";
    color: rgba(51, 51, 51, 0.8);
    font-weight: bold;
    line-height: 5.143;
    text-align: center;
    margin-top: -9%;
    margin-bottom: 50px;
}

@media (min-width: 750px) {
    .top_about h2 {
        font-size: 1vw;
        margin-top: -3%;
        margin-bottom: 45px;
    }
}

.top_about_maincont {
    max-width: 750px;
    width: 92%;
    margin: 0 auto;
    position: relative;
}

@media (min-width: 750px) {
    .top_about_maincont {
        max-width: 750px;
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
}

@media (min-width: 1050px) {
    .top_about_maincont {
        max-width: 1020px;
    }
}

.top_about_maincont_image {
    max-width: 499px;
    width: 66.533%;
    order: 1;
}

@media (min-width: 750px) {
    .top_about_maincont_image {
        width: 43.137%;
        order: 1;
    }
}

.top_about_maincont_image img {
    width: 100%;
}

.top_about_maincont_text {
    order: 2;
}

.top_about_maincont_text h1 {
    font-size: 6.42vw;
    font-family: "Kinuta MaruMaruGothic CLr StdN";
    color: rgb(59, 47, 40);
    line-height: 1.389;
    text-align: left;
    margin: 5% 0 10% 0;
}

@media (min-width: 750px) {
    .top_about_maincont_text h1 {
        font-size: 2.57vw;
        margin: 5% 0 10% 0;
    }
}

.top_about_maincont_text span {
    color: #d70b2a;
}

.top_about_maincont_text p {
    max-width: 690px;
    width: 100%;
    font-size: 4.28vw;
    font-family: "Yu Gothic";
    color: rgb(51, 51, 51);
    line-height: 1.4;
    letter-spacing: 4px;
    margin-bottom: 11%;
}

@media (min-width: 750px) {
    .top_about_maincont_text p {
        max-width: 445px;
        width: 100%;
        font-size: 1.15vw;
        font-family: "Yu Gothic";
        color: rgb(51, 51, 51);
        line-height: 1.4;
        letter-spacing: 0.3px;
    }
}

.top_about_maincont_image_small {
    position: absolute;
    max-width: 325px;
    width: 47.1%;
    z-index: 99;
    margin: -24% 0 0 53%;
}

@media (min-width: 750px) {
    .top_about_maincont_image_small {
        position: absolute;
        max-width: 326px;
        z-index: 99;
        margin: 40% 0 0 28%;
    }
}

.top_about_maincont_image_small img {
    width: 100%;
}

.top_about h3 {
    position: absolute;
    transform: rotate(90deg);
    margin: -68% 0 0 0;
    font-size: 13.4vw;
    font-family: "agenda";
    color: #f3efe6;
    line-height: 0.424;
    right: -14.5%;
}

@media (min-width: 750px) {
    .top_about h3 {
        transform: rotate(0deg);
        margin: -8% 0 0 0;
        font-size: 12.15vw;
        color: rgba(255, 255, 255, 0.502);
        line-height: 0.424;
        right: -5%;
    }
}

.top_about_sublink {
    display: block;
    max-width: 690px;
    width: 92%;
    margin: 10% auto 0;
}

@media (min-width: 750px) {
    .top_about_sublink {
        display: flex;
        max-width: 1020px;
        width: 100%;
        justify-content: space-between;
        flex-wrap: wrap;
        margin: 10% auto 0;
    }
}

.top_about_sublink_image {
    max-width: 690px;
    width: 100%;
}

@media (min-width: 750px) {
    .top_about_sublink_image {
        max-width: 500px;
        width: 49.019%;
    }
}

.top_about_sublink_image img {
    width: 100%;
    margin-bottom: 5%;
}

@media (min-width: 750px) {
    .top_about_sublink_image img {
        margin-bottom: 2%;
    }
}


/* ------------  intervew  ------------ */

.top_interview {
    max-width: 1020px;
    width: 100%;
    position: relative;
}

.top_interview h2 {
    max-width: 305px;
    font-size: 48px;
    font-family: agenda;
    color: rgb(215, 11, 42);
    line-height: 1.5;
    transform: rotate(90deg);
    position: absolute;
}

.top_interview h3 {
    max-width: 117px;
    font-size: 14px;
    font-family: "Yu Gothic";
    color: rgba(51, 51, 51, 0.8);
    font-weight: bold;
    line-height: 5.143;
    transform: rotate(90deg);
    position: absolute;
}



/* ------------  entry  ------------ */
.top_entry {
    background-image: url(../image/top/entry_bg_sp.png);
    background-repeat: no-repeat;
    background-size: contain;
}

@media (min-width: 1100px) {
    .top_entry {
        background-image: url(../image/top/entry_bg.png);
        background-repeat: no-repeat;
        background-size: contain;
    }
}

.top_entry_items_top {
    text-align: center;
    padding: 110px 0 35px;
    position: relative
}


.top_entry_items_top img {
    margin: auto;
}

.entry_challenge_img {
    width: 90%;
}

.entry_pc {
    display: none;
}

@media (min-width: 1100px) {
    .entry_pc {
        display: block;
    }

    .entry_sp {
        display: none;
    }
}

@media (min-width: 1100px) {
    .entry_challenge_img {
        width: auto;
    }
}

.top_entry_message {
    position: absolute;
    right: 0;
    left: 0;
    top: 57%;
    font-size: 12px;
    font-family: "Shippori Mincho";
    color: rgb(255, 255, 255);
    text-align: center
}

@media (min-width: 500px) {
    .top_entry_message {
        font-size: 18px;
        top: 55%;
    }
}

@media (min-width: 860px) {
    .top_entry_message {
        font-size: 30px;
        top: 50%;
    }
}

@media (min-width: 1100px) {
    .top_entry_message {
        top: 40%;
        font-size: 36px;
    }

    .top_entry_message_br {
        display: none;
    }
}

.top_entry_message img {
    vertical-align: top;
    width: 10%;
}

@media (min-width: 500px) {
    .top_entry_message img {
        width: 16%;
    }
}

@media (min-width: 1100px) {
    .top_entry_message img {
        width: auto;
    }
}

.top_entry_recruit_btn {
    position: absolute;
    right: 0;
    left: 0;
    top: 70%;
    width: 50%;
    max-width: 299px;
}

@media (min-width: 1100px) {
    .top_entry_recruit_btn {
        position: absolute;
        right: 0;
        left: 0;
        top: 65%;
        width: auto;
    }
}

.top_entry_items {
    text-align: center;
    max-width: 90%;
    margin: auto;
}

@media (min-width: 1100px) {
    .top_entry_items {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: flex-end;
        max-width: 1020px;
        margin: 0 auto 100px;
    }
}

.top_entry_items a {
    margin: 0 auto;
}

@media (min-width: 1100px) {
    .top_entry_items a {
        margin: 0;
    }
}

.top_entry_items img {
    width: 100%;
    max-width: 494px;
    margin-bottom: 45px;
}

@media (min-width: 1100px) {
    .top_entry_items img {
        margin-bottom: 20px;
    }
}