/* ------------  All  ------------ */

ul {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    list-style: none;
    cursor: pointer;
}

/* ------------  Challenge  ------------ */

.recruit_challenge_top {
    position: relative;
}

.recruit_challenge_top_imgcont01 {
    width: 64%;
}

.recruit_challenge_top_imgcont01 img {
    width: 100%;
}

.recruit_challenge_top_imgcont02 {
    width: 48%;
    float: right;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 99;
}

.recruit_challenge_top_imgcont02 img {
    width: 100%;
}

.recruit_challenge_top_imgcont03 {
    width: 36%;
    float: right;
    position: absolute;
    top: 46.9%;
    right: 0;
}

.recruit_challenge_top_imgcont03 img {
    width: 100%;
}

.recruit_challenge_top_linkcont {
    display: flex;
    justify-content: space-between;
    position: absolute;
    width: 47.7%;
    top: 79%;
    left: 5%;
}

.recruit_challenge_top_linkcont a {
    cursor: pointer;
}

.recruit_challenge_top_linkcont img {
    width: 100%;
}

/* ------------  Challenge_explain  ------------ */

.recruit_challenge_explain {
    width: 100%;
    max-width: 1400px;
    margin: 80px auto 100px;
    display: block;
}

@media (min-width:750px) {
    .recruit_challenge_explain {
        width: 100%;
        max-width: 1400px;
        margin: 80px auto 140px;
        display: flex;
    }
}

.recruit_challenge_textcont {
    width: 95%;
    margin: 0 auto 10px;
}

@media (min-width:750px) {
    .recruit_challenge_textcont {
        width: 50%;
        margin: 0% 3.9% 0 5%;
    }
}

@media (min-width:840px) {
    .recruit_challenge_textcont {
        margin: 0% 3.9% 0 13.5%;
    }
}

@media (min-width:1250px) {
    .recruit_challenge_textcont {
        width: 453px;
        margin: 2% 3.9% 0 13.5%;
    }
}

.recruit_challenge_textcont p {
    font-size: 14px;
    font-family: "Yu Gothic";
    color: rgb(51, 51, 51);
    font-weight: normal;
    line-height: 1.5;
    text-align: left;
    vertical-align: middle;
}

@media (min-width:840px) {
    .recruit_challenge_textcont p {
        font-size: 14px;
        font-weight: bold;
    }
}

@media (min-width:1050px) {
    .recruit_challenge_textcont p {
        font-size: 15px;
        line-height: 1.7;
    }
}

@media (min-width:1160px) {
    .recruit_challenge_textcont p {
        font-size: 16px;
        line-height: 2.2;
    }
}

.recruit_challenge_textcont br {
    display: none;
}

@media (min-width:1400px) {
    .recruit_challenge_textcont br {
        display: block;
    }
}



.recruit_challenge_imgcont {
    width: 95%;
    margin: auto;
}

@media (min-width:750px) {
    .recruit_challenge_imgcont {
        width: 50%;
    }
}

@media (min-width:1000px) {
    .recruit_challenge_imgcont {
        width: 700px;
    }
}

.recruit_challenge_imgcont img {
    width: 100%;
}


/* ------------  Personality  ------------ */

.recruit_personality {
    max-width: 1400px;
    margin: 0 auto 85px;
}

.recruit_personality h1 {
    font-size: 30px;
    font-family: "Yu Gothic";
    color: rgb(51, 51, 51);
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
    margin-bottom: 30px;
}

.recruit_personality hr {
    background-color: rgb(215, 11, 42);
    width: 50px;
    height: 4px;
    margin: 0 auto 65px;
    border: none;
}

.recruit_personality_maincont {
    max-width: 1000px;
    width: 71.43%;
    margin: auto;
    position: relative;
}

.recruit_personality_maincont_img {
    max-width: 510px;
    width: 51%;
}

.recruit_personality_maincont_img img {
    width: 100%;
}

.recruit_personality_maincont_box {
    max-width: 605px;
    width: 60.5%;
    position: absolute;
    top: 0;
    right: 0;
}

.recruit_personality_maincont_box p {
    font-size: 45px;
    font-family: agenda;
    color: rgb(243, 239, 230);
    line-height: 0.6;
    text-align: right;
    padding-right: 10px;
}

@media (min-width:1200px) {
    .recruit_personality_maincont_box p {
        font-size: 58px;
        padding-right: 14px;
    }
}

.recruit_personality_maincont_box_textcont {
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 3px 16px 0px rgba(80, 80, 80, 0.15);
    width: 100%;
    padding: 3% 0 3% 3.5%;
}

@media (min-width:1200px) {
    .recruit_personality_maincont_box_textcont {
        padding: 5% 0 2.8% 5.5%;
    }
}

.recruit_personality_maincont_box_textcont h2 {
    font-size: 18px;
    font-family: "Yu Gothic";
    color: rgb(215, 11, 42);
    font-weight: bold;
    line-height: 1.8;
}

@media (min-width:1000px) {
    .recruit_personality_maincont_box_textcont h2 {
        font-size: 20px;
    }
}

.recruit_personality_maincont_box_textcont h3 {
    font-size: 14px;
    font-family: "Yu Gothic";
    color: rgb(215, 11, 42);
    font-weight: bold;
    line-height: 1.8;
    margin-bottom: 3.6%;
}

@media (min-width:1000px) {
    .recruit_personality_maincont_box_textcont h3 {
        font-size: 16px;
    }
}

.recruit_personality_maincont_box_textcont hr {
    width: 95%;
    background-color: rgb(51, 51, 51);
    opacity: 0.302;
    height: 1px;
    margin: 0 0 3% 0;
}

@media (min-width:1200px) {
    .recruit_personality_maincont_box_textcont hr {
        width: 83%;
    }
}

.recruit_personality_maincont_box_textcont p {
    width: 95%;
    font-size: 14px;
    font-family: "Yu Gothic";
    color: rgb(51, 51, 51);
    font-weight: bold;
    line-height: 1.5;
    text-align: left;
    padding-right: 0;
}

@media (min-width:1200px) {
    .recruit_personality_maincont_box_textcont p {
        width: 84%;
        font-size: 14px;
        line-height: 2;
    }
}

.recruit_personality_maincont_box_left {
    position: absolute;
    top: 45%;
    left: -2%;
    width: 40px;
    height: 40px;
}

.recruit_personality_maincont_box_right {
    position: absolute;
    top: 45%;
    right: -2%;
    width: 40px;
    height: 40px;
}

@media (min-width:1000px) {
    .recruit_personality_maincont_box_left,.recruit_personality_maincont_box_right {
        width: 50px;
        height: 50px;
    }
}

.recruit_personality_maincont_box_left img,.recruit_personality_maincont_box_right img {
    width: 100%;
    height: 100%;
}

/* ------------  Pharmacist  ------------ */


/* ------------  Regular  ------------ */


/* ------------  Welfare  ------------ */


/* ------------  Education  ------------ */


/* ------------  Entry  ------------ */