.content_title {
  font-size: 30px;
  font-family: "YuGothic";
  color: rgb(51, 51, 51);
  font-weight: bold;
  text-align: center;
  position: relative;
  line-height: 1;
}

.content_title:after {
  content: '';
  position: absolute;
  left: 50%;
  /* bottom: -15px; */
  top: 60px;
  display: inline-block;
  width: 50px;
  height: 4px;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  /*位置調整*/
  background-color: rgb(215, 11, 42);
}


/* ------------  fv  ------------ */
.workplace_explain {
  font-size: 16px;
  font-family: "YuGothic";
  color: rgb(51, 51, 51);
  font-weight: bold;
  text-align: center;
  margin: 60px auto;
  max-width: 1000px;
  width: 90%;
}

@media (min-width: 900px) {
  .workplace_explain br {
    display: none;
  }

  .workplace_explain {
    margin: 80px auto;
  }
}

.under_fv_bgtitle_workplace {
  font-size: 50px;
  top: 142px;
}

@media (min-width: 900px) {
  .under_fv_bgtitle_workplace {
    font-size: 150px;
    top: auto;
  }
}

/* ------------  workplace  ------------ */
.workplace {
  width: 90%;
  max-width: 1000px;
  margin: auto;
}

.workplace_map {
  margin-top: 100px;
  text-align: center;
}

.workplace_map img {
  margin-bottom: 35px;
  width: 100%;
  max-width: 509px;
}

.workplace_map p {
  line-height: 1.875;
  text-align: left;
}

@media (min-width: 1050px) {
  .workplace_map {
    display: flex;
  }

  .workplace_map img {
    margin-bottom: 0px;
  }

  .workplace_map p {
    padding-left: 20px;
  }
}





/* ------------  support  ------------ */
.workplace_surpport {
  padding-top: 80px;
  background: linear-gradient(to top, #f3efe6 0%, #f3efe6 80%, #fff 80%, #fff 100%);
  padding-bottom: 3%;
}

@media (min-width: 750px) {
  .workplace_surpport {
    background: linear-gradient(to top, #f3efe6 0%, #f3efe6 65%, #fff 65%, #fff 100%);
  }
}

.workplace_surpport_maincont {
  max-width: 690px;
  width: 92%;
  margin: auto;
}

@media (min-width: 750px) {
  .workplace_surpport_maincont {
    max-width: 1020px;
    width: 72.857%;

  }
}

.workplace_surpport_maincont_assignment {
  display: block;
  margin-top: 10%;
}

@media (min-width: 750px) {
  .workplace_surpport_maincont_assignment {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5%;
  }
}

.workplace_surpport_maincont_assignment_image {
  max-width: 690px;
  width: 100%;
}

@media (min-width: 750px) {
  .workplace_surpport_maincont_assignment_image {
    max-width: 509px;
    width: 49.9%;
  }
}

.workplace_surpport_maincont_assignment_image img {
  width: 100%;
}

.workplace_surpport_maincont_assignment_text {
  max-width: 690px;
  width: 100%;
  margin-top: 5%;
}

@media (min-width: 750px) {
  .workplace_surpport_maincont_assignment_text {
    max-width: 480px;
    width: 47.058%;
    letter-spacing: 0.7px;
    padding-top: 4%;
    margin-top: 0;
  }
}

.workplace_surpport_maincont_assignment_text p {
  font-size: min(3.2vw, 24px);
  font-family: "Yu Gothic";
  color: rgb(51, 51, 51);
  font-weight: bold;
  line-height: 1.875;
  text-align: left;
}

@media (min-width: 750px) {
  .workplace_surpport_maincont_assignment_text p {
    font-size: min(1.15vw, 16px);
    font-family: "Yu Gothic";
    color: rgb(51, 51, 51);
    font-weight: bold;
    line-height: 1.875;
    text-align: left;
  }
}

.workplace_surpport_timesaving {
  display: block;
  max-width: 650px;
  width: 94.2%;
  margin: auto;
  margin-bottom: 5%;
}

@media (min-width: 750px) {
  .workplace_surpport_timesaving {
    display: flex;
    max-width: 900px;
    width: 88.235%;
    margin-left: auto;
    margin-bottom: 5%;
    justify-content: space-between;
  }
}

.workplace_surpport_timesaving_image {
  max-width: 650px;
  width: 100%;
  margin: auto;
}

@media (min-width: 750px) {
  .workplace_surpport_timesaving_image {
    max-width: 330px;
    width: 36.67%;
  }
}

.workplace_surpport_timesaving_image img {
  width: 100%;
}

.workplace_surpport_timesaving_text {
  max-width: 650px;
  width: 100%;
  margin-top: 5%;
}

@media (min-width: 750px) {
  .workplace_surpport_timesaving_text {
    max-width: 507px;
    width: 57.6%;
    margin-top: 2%;
  }
}

.workplace_surpport_timesaving_text h2 {
  font-size: min(3.6vw, 27px);
  font-family: "Yu Gothic";
  color: rgb(215, 11, 42);
  font-weight: bold;
  text-align: center;
  margin-bottom: 3%;
}

@media (min-width: 750px) {
  .workplace_surpport_timesaving_text h2 {
    font-size: min(1.3vw, 18px);
    text-align: left;
  }
}

.workplace_surpport_timesaving_text p {
  font-size: min(3.1vw, 23px);
  font-family: "Yu Gothic";
  color: rgb(51, 51, 51);
  font-weight: bold;
  line-height: 1.7;
  text-align: left;
  letter-spacing: 1.6px;
}

@media (min-width: 750px) {
  .workplace_surpport_timesaving_text p {
    font-size: min(1vw, 14px);
    line-height: 2.143;
    text-align: left;
    letter-spacing: 0.8px;
  }
}





/* ------------  welfare  ------------ */
.workplace_welfare {
  padding-top: 80px;
}

.workplace_welfare_maincont {
  max-width: 690px;
  width: 92%;
  margin: auto;
}

@media (min-width: 750px) {
  .workplace_welfare_maincont {
    max-width: 1020px;
    width: 72.857%;
    display: flex;
    justify-content: space-between;
  }
}

.workplace_welfare_maincont_box {
  max-width: 690px;
  width: 100%;
  margin-bottom: 5%;
}

@media (min-width: 750px) {
  .workplace_welfare_maincont_box {
    max-width: 330px;
    width: 32.35%;
  }
}

.workplace_welfare_maincont_imgbox {
  width: 100%;
  position: relative;
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
}

@media (min-width: 750px) {
  .workplace_welfare_maincont_imgbox {
    width: 100%;
  }
}

.workplace_welfare_maincont_imgbox img {
  width: 100%;
}

.workplace_welfare_subtitle01 {
  position: absolute;
  font-size: min(4.1vw, 30px);
  font-family: "Yu Gothic";
  color: rgb(215, 11, 42);
  font-weight: bold;
  background-color: rgb(243, 239, 230);
  box-shadow: 0px 4px 7px 0px rgba(80, 80, 80, 0.13);
  padding: 3% 0 3% 0;
  top: 0;
  left: 88%;
  z-index: 99;
  display: inline-block;
}

@media (min-width: 750px) {
  .workplace_welfare_subtitle01 {
    font-size: min(1.15vw, 16px);
    left: 88%;
  }
}

.workplace_welfare_maincont_textbox {
  width: 100%;
  margin-top: 5%;
  font-size: min(3.1vw, 23px);
  font-family: "Yu Gothic";
  color: rgb(51, 51, 51);
  font-weight: bold;
  line-height: 2.143;
  text-align: left;
}

@media (min-width: 750px) {
  .workplace_welfare_maincont_textbox {
    font-size: min(1vw, 14px);
    line-height: 2.143;
  }
}

.workplace_welfare_benefits {
  max-width: 690px;
  width: 92%;
  margin: 0 auto;
}

@media (min-width: 750px) {
  .workplace_welfare_benefits {
    max-width: 1020px;
    width: 72.857%;
    display: flex;
    justify-content: space-between;
  }
}

.workplace_welfare_benefits_image {
  max-width: 690px;
  width: 100%;
}

@media (min-width: 750px) {
  .workplace_welfare_benefits_image {
    max-width: 505px;
    width: 49.51%;
  }
}

.workplace_welfare_benefits_image img {
  width: 100%;
}

.workplace_welfare_benefits_text {
  max-width: 690px;
  width: 100%;
}

@media (min-width: 750px) {
  .workplace_welfare_benefits_text {
    max-width: 477px;
    width: 46.76%;
  }
}

.workplace_welfare_benefits_text h2 {
  font-size: min(3.6vw, 27px);
  font-family: "Yu Gothic";
  color: rgb(215, 11, 42);
  font-weight: bold;
  text-align: center;
  margin-bottom: 3%;
  margin-top: 5%;
}

@media (min-width: 750px) {
  .workplace_welfare_benefits_text h2 {
    font-size: min(1.3vw, 18px);
    text-align: left;
    margin-top: 0;
  }
}

.workplace_welfare_benefits_text p {
  font-size: min(3.1vw, 23px);
  font-family: "Yu Gothic";
  color: rgb(51, 51, 51);
  font-weight: bold;
  line-height: 1.7;
  text-align: left;
  letter-spacing: 1.6px;
}

@media (min-width: 750px) {
  .workplace_welfare_benefits_text p {
    font-size: min(1vw, 14px);
    line-height: 2.143;
    text-align: left;
    letter-spacing: 0.7px;
  }
}




/* ------------  gallery  ------------ */
.workplace_gallery {
  padding-top: 100px;
  max-width: 1000px;
  width: 90%;
  margin: 0 auto 100px;
}

@media (min-width: 850px) {
  .workplace_gallery {
    margin: 0 auto 125px;
  }
}

.workplace_gallery_explain {
  margin: 100px 0 45px;
  font-size: 16px;
  font-family: "YuGothic";
  color: rgb(51, 51, 51);
  font-weight: bold;
  line-height: 1.875;
  text-align: center;
}

.workplace_gallery_explain br, .gallery_slider_thumb_text p br {
  display: none;
}

@media (min-width: 850px) {
  .workplace_gallery_explain br, .gallery_slider_thumb_text p br {
    display: block;
  }
}

/* slick */
.workplace_gallery_slider img {
  border-width: 4px;
  border-color: #d4d2d0;
  border-style: solid;
  border-radius: 5px;
}

@media (min-width: 850px) {
  .gallery_slider_thumb {
    margin-bottom: 30px;
  }
}

.gallery_slider_thumb_text {
  position: relative;
}

.gallery_slider_thumb_text p {
  width: 100%;
  font-size: 14px;
  font-family: "YuGothic";
  color: rgb(51, 51, 51);
  font-weight: bold;
  line-height: 2;
  padding: 30px 0 25px;
  bottom: 0;
}

@media (min-width: 850px) {
  .gallery_slider_thumb_text p {
    text-align: center;
    position: absolute;
    background-color: rgb(243, 239, 230, 0.902);
  }
}

.gallery_thumb .slick-slide {
  margin: 0 9px !important;
}

.workplace_gallery .workplace_gallery_slider .gallery_thumb {
  margin-bottom: 135px;
}

.slick-dots li button:before {
  font-size: 50px !important;
}

.slick-dots {
  bottom: -40px !important;
}

.gallery_thumb .slick-slide {
  /*アクティブではないスライド*/
  opacity: 1;
}

.gallery_thumb .slick-current {
  /*アクティブなスライド*/
  opacity: 0.5;
}

.slick-slide img {
  width: 100%;
}

.gallery_thumb .slick-list {
  display: none !important;
}

@media (min-width: 850px) {
  .gallery_thumb .slick-list {
    display: block !important;
  }
}

.workplace_gallery_link {
  position: relative;
  width: 90%;
  margin: auto;
}

@media (min-width: 850px) {
  .workplace_gallery_link {
    width: auto;
  }
}

.workplace_gallery_link_h2 {
  font-size: 100px;
  font-family: "Kozuka Gothic Pr6N";
  color: rgba(243, 239, 230, 0.702);
  letter-spacing: 20px;
  line-height: 1;
  margin-bottom: 70px;
}

.workplace_gallery_link_p {
  font-size: 18px;
  font-family: "YuGothic";
  color: rgba(215, 11, 42, 0.8);
  font-weight: bold;
  line-height: 1;
  position: absolute;
  letter-spacing: 1px;
  top: 60px;
}

@media (min-width: 850px) {
  .workplace_gallery_link_h2 {
    left: -100px;
    top: 85px;
    position: absolute;
    -moz-transform: matrix(0, 1, -1, 0, 0, 0);
    -webkit-transform: matrix(0, 1, -1, 0, 0, 0);
    -ms-transform: matrix(0, 1, -1, 0, 0, 0);
  }

  .workplace_gallery_link_p {
    left: -20px;
    top: 30px;
    -moz-transform: matrix(0, 1, -1, 0, 0, 0);
    -webkit-transform: matrix(0, 1, -1, 0, 0, 0);
    -ms-transform: matrix(0, 1, -1, 0, 0, 0);
  }
}

@media (min-width: 850px) {
  .workplace_gallery_link_list {
    max-width: 814px;
    margin-left: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.workplace_gallery_link_item {
  position: relative;
  margin: 0 auto 30px;
  max-width: 373px;
}

@media (min-width: 850px) {
  .workplace_gallery_link_item {
    margin: 0 0 30px;
  }
}

.workplace_gallery_link_item img {
  width: 100%;
}

.workplace_gallery_link_item img:first-child {
  position: absolute;
}

.workplace_gallery_link_item img:hover {
  opacity: 0;
}

.workplace_gallery_link_item a {
  opacity: 1;
}